<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Mario Fratarcangeli</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>
<body>

<section>
    <h2>Inserimento Nuovo Lavoro</h2>
    <form id="clientDetailsForm" method="post" class="row g-3 align-items-end">
        <!-- Cliente -->
        <div class="col-md-2">
            <label for="clientId" class="form-label">Cliente:</label>
            <select id="clientId" name="clientId" class="form-select" required>
                <option value="" disabled selected>Seleziona un cliente</option>
                <option th:each="client : ${clientList}" th:value="${client.id}" th:text="${client.name}"></option>
            </select>
        </div>

        <!-- Data -->
        <div class="col-md-1">
            <label for="date" class="form-label">Data:</label>
            <input type="date" id="date" name="date" class="form-control" required>
        </div>

        <!-- Descrizione -->
        <div class="col-md-3">
            <label for="description" class="form-label">Descrizione:</label>
            <textarea id="description" name="description" class="form-control" rows="1" required></textarea>
        </div>

        <!-- Ore -->
        <div class="col-md-1">
            <label for="hours" class="form-label">Ore:</label>
            <input type="number" id="hours" name="hours" class="form-control" required>
        </div>

        <!-- Costo Orario -->
        <div class="col-md-1">
            <label for="ratePerHour" class="form-label">Costo Orario:</label>
            <input type="number" id="ratePerHour" name="ratePerHour" class="form-control" required>
        </div>

        <!-- Costo Viaggio -->
        <div class="col-md-1">
            <label for="travelCost" class="form-label">Costo Viaggio:</label>
            <input type="number" id="travelCost" name="travelCost" class="form-control" required>
        </div>

        <!-- Numero di Persone -->
        <div class="col-md-1">
            <label for="numberPeopleWork" class="form-label">Persone:</label>
            <input type="number" id="numberPeopleWork" name="number_people_work" class="form-control" required>
        </div>

        <!-- Totale -->
        <div class="col-md-1">
            <label for="amountLabel" class="form-label">Totale:</label>
            <div class="form-control-plaintext">
                <strong id="amountLabel">0.00</strong> €
            </div>
            <input type="hidden" id="amount" name="amount" value="0.00">
        </div>

        <!-- Pulsante Salva -->
        <div class="col-md-1">
            <button type="button" id="saveButton" class="btn btn-primary w-100">Inserisci Lavoro</button>
        </div>
    </form>
</section>

</br>
<section>
    <h2>Lista dei Dettagli del Cliente</h2>
    <form id="clientForm">
        <div class="col-md-3">
            <select id="clientSelect" name="clientId" onchange="fetchClientDetails()" class="form-select">
                <option value="" disabled selected>Seleziona un cliente</option>
                <option th:each="client : ${clientList}" th:value="${client.id}" th:text="${client.name}"></option>
            </select>
        </div>
    </form>
</section>
</br>
<section>
    <div class="table-responsive">
        <table id="clientDetailsTable" class="table table-striped table-hover table-bordered text-center">
            <thead class="table-dark">
            <tr>
                <th style="width: 10%;">Data</th>
                <th style="width: 10%;">Descrizione</th>
                <th style="width: 10%;">Costo Orario</th>
                <th style="width: 10%;">Costo Viaggio</th>
                <th style="width: 10%;">Numero Persone</th>
                <th style="width: 10%;">Ore</th>
                <th style="width: 10%;">Importo</th>
                <th style="width: 10%;">Acconto</th>
                <th style="width: 10%;">Residuo</th>
                <th style="width: 10%;">Azioni</th>
            </tr>
            </thead>
            <tbody>
            <!-- Popolato dinamicamente -->
            </tbody>
        </table>
    </div>
</section>

<script src="/js/scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
</body>
</html>
